@font-face {
    font-family: Plex-thin;
    src: url(@/assets/fonts/Plex/IBMPlexSans-Thin.ttf);
}

@font-face {
    font-family: Plex;
    src: url(@/assets/fonts/Plex/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: assis;
    src: url(@/assets/fonts/Assistant/Assistant-VariableFont_wght.ttf);
}